doctype html
html(lang="zh-tw")
    head
        meta(charset="utf-8")
        meta(name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no")
        title= "ChatChat"
        include includes/head
    body
        div(class="container")
            div(class="content-wrapper")
                block content
        include includes/footer
